extends layout/main.pug
include mixins/videoBlock

block content
    .videos
        each item in video
            +videoBlock({
                title:'Hello',
                views: item.views,
                videoFile: item.videoFile
            })