$red: #ea232c;
$dark-red: #bb2f2a;
$grey: #f5f5f5;
$black: #444444;
$dark-grey: #e7e7e7;
$red-grey: #5F5C5C;
$sky-blue-crayola: #7BDFF2;
$celeste: #B2F7EF;
$mint-cream: #eff7f6;
$piggy-pink: #f7d6e0;
$cotton-candy: #f2b5d4;